.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border-radius: 5px;
  background: linear-gradient(252.44deg #fff 0% #d6d6d6 100%);
}
 
.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border-radius: 5px;
  background: linear-gradient(252.44deg #fff 0% #d6d6d6 100%);
}
 
.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border-radius: 5px;
  background: linear-gradient(252.44deg #fff 0% #d6d6d6 100%);
}
 
.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border-radius: 5px;
  background: linear-gradient(252.44deg #fff 0% #d6d6d6 100%);
}
 
.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border-radius: 5px;
  background: linear-gradient(252.44deg #fff 0% #d6d6d6 100%);
}
 
.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border-radius: 5px;
  background: linear-gradient(252.44deg #fff 0% #d6d6d6 100%);
}
 
.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border-radius: 5px;
  background: linear-gradient(252.44deg #fff 0% #d6d6d6 100%);
}
 
.container {
  width: 700px;
  height: 410px;
  padding: 0 60px;
  border-radius: 5px;
  background: linear-gradient(252.44deg #fff 0% #d6d6d6 100%);
}
 
